{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Kitap Ekle{% endblock title %}

{% block body %}
    {% include 'includes/navbar.html' %}
    <div class="container">
        <div class="row justify-content-center align-items-cente">
            <di class="col-md-6" >
                <div class="col-md-12">
                    <h1 text-center text-info>Kitap Ekle</h1>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" value="Ekle">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}