{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Giriş Yap{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-cente">
            <div class="col-md-6" >
                <div class="col-md-12">
                    <h1 text-center text-info>Kütüphane Sistemi</h1>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" value="Giriş Yap">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


